<p>
  <b>Clave:</b>
  <%=h @adscripcion.clave %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @adscripcion.descripcion %>
</p>


<%= link_to 'Edit', edit_adscripcion_path(@adscripcion) %> |
<%= link_to 'Back', adscripcions_path %>