<table border="1" width="60%" style="background-color:white; text-align: center;">

   <tr style="background-color:gray; color:white">
    <th colspan="2">
      Plataforma del programa "Educar con Responsabilidad Ambiental"
    </th>
   </tr>


  <tr>
    <th>Petición de recuperación de contraseña para:</th>
    <td><%=h (@user.login) ?  (@user.login.upcase) : nil %></td>
  </tr>
</table>


<p>
<h4>Visite la siguiente dirección:
  <%=h @url%>
</h4>
</p>



------------------------------------------------------------------------------------------------------
<p>Secretaría de Educación del Estado de Chiapas, todos los derechos reservados</p>
