<fieldset>
  <label>POR ADSCRIPCION:</label>
  <div class="grid-12-12">
    <% form_tag({:action => "search"}, {:class => "search"}) do -%>

    <div class="grid-9-12">
        <div class="grid-3-12">
          <label><b>ADSCRIPCION: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-9-12">
          <%= select(:adscripcion, :id, @adscripciones.collect {|p| [ p.descripcion, p.id ] }, { :include_blank => true })%>
        </div>
    </div>

    <div class="grid-3-12">
        <%= submit_tag "Buscar", :name => nil, :style => "width:50%;" %>
    </div>
   <% end %>
  </div>
</fieldset>