<%=hidden_field_tag :sectionone%>

<div id="monitor" class="container formee">
        
 </div>
<div class="grid-12-12"><img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" /></div>

<%=periodically_call_remote(:url => {:controller => "audiencias",
                            :action => "get_last_attention"},
                            :frequency => '12',
                            :before => "Element.show('spinner')",
                            :success => "Element.hide('spinner')",
                            :update => { :success => "monitor", :failure => "error" })%>