<%=render :partial => "home/arbol"%>
<%=render :partial => "show"%>

<%if current_user.has_role?(:directivo)%>
    <%= link_to 'Editar',  {:action => "new_or_edit", :id => @audiencia }, :class => "boton"%> |
    <%= link_to 'Atrás', {:action => "index"},  :class => "boton" %>
<%end%>






