  <div class="formee-msg-warning">
    <h3>Información importante:</h3>
    <ul>
      <li>Los campos marcados con <em class="formee-req">*</em> son obligatorios.</li>
    </ul>

    <ul>
     <li>Puede adjuntar cualquiera de los siguientes tipos de archivos sin repetirse ni excederse de  5 MB :</li>
    </ul>
    <ul>
      <li>&nbsp;- Documentos (pdf, word, excel, powerpoint):</li>
    </ul>
 </div>