<div id="preview" style="height:auto; width:auto; max-width:790px; max-height:640px;">
  <%=  image_tag @uploaded_file.url_path, :style => "height:auto; width:auto; max-width:790px; max-height:640px;"  %><br />
</div>