/* Clase para encabezados de tramites y sesiones */

.encabezado {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 0px 0px 0px #fff6af;
    background-color: #ffffff;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 2px;
    border: 0px solid #CB352E;
    cursor: pointer;
    font-family: "Nexa Light";
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    padding: 6px 22px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffee66;
    width: 90%;
    margin: auto;
    }

    .encabezado_formee {
         font-size: 1.8em;
         text-transform: uppercase;
          font-family: "Nexa Light";
          margin: auto;
}
