.search form {
                width:500px;
                margin:50px auto;
}
.search input{
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
                font-size: 12px;
                width: 50%;
}
.search input[type=submit] {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
                font-size: 13px;
                font-family: 'Nexa Bold';
                text-transform: uppercase;
                width: 22%;
}
.search input[type=submit]:hover  {
                background-color:#fafafa;
                color:#207cca;
                width: 22%;
}