<%=render :partial => "tramites/show"%>

<p align="center">
  <h4>Para verificar el detalle del trámite y asignar lo conducente:</h4>
  <h3>
        <%=  link_to "HAGA CLICK AQUÍ", "http://#{SITE_URL}/tramites/new_or_edit/#{@tramite.id}"%>
  </h3>
</p>


<p align="center">
----------------------------------------------------------------------------------------------------------------
</p>
<p align="center">
  Palacio de Justicia, Libramiento Norte Oriente No. 2100, <br />
  Fracc. El Bosque C.P. 29047 Tuxtla Gutiérrez, Chiapas. <br/>
  defensoria@poderjudicialchiapas.gob.mx <br/>
  Conmutador: (961) 61 7-87-00 Ext. 8411 y 8414 <br/>
</p>

<p align="center">
----------------------------------------------------------------------------------------------------------------
</p>

