<table class="tablakolaval" style="width: 60%">
  <tr>
    <th><b>REGISTRO DE ATENCIÓN :</b><%=@tramite.registro_atencion%></th>
    <th><b>CARPETA DE INVESTIGACIÓN:</b> <%=@tramite.carpeta_investigacion%></th>
  </tr>
  <tr>
    <th>CAUSA PENAL: <%=@tramite.carpeta_investigacion%></th>
    <th>NUC :<%=@tramite.nuc%></th>
  </tr>
  <tr><th>&nbsp;</th></tr>
</table>
