<!--
  ####################################################
  # ESTE PARTIAL SE ENCARGA DE GENERAR LAS LIGAS EN ESTRUCTURA DE ARBOL  #
  # ##################################################
-->
<h3>
  <%=h link_to 'INICIO', "/", :class => "arbol", :title => "INICIO"-%> >>
  <%=  case params[:controller]
            when 'defensores'
                title = 'DEFENSORES PÚBLICOS'
                (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
             when 'admin'
                title = 'ADMINISTRACIÓN'
                (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
            when 'participantes'
                case controller.action_name
                    when 'index', 'new_or_edit', 'show'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTICIPANTES ', {:controller => 'participantes', :action => "index", :t => @tramite}, :class => "arbol")
                end
            when 'amparos'
                case controller.action_name
                    when 'index', 'new_or_edit', 'show'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' AMPAROS ', {:controller => 'amparos', :action => "index", :t => @tramite}, :class => "arbol")
                end

            when 'audiencias'
                title = 'ORIENTACIONES AL PÚBLICO'
                (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
            else
                (link_to params[:controller].upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => params[:controller])
          end
    %>

   <!-- Si lleva parametro de persona -->
    <%if (params[:p] && params[:p].size == 36)%>
          <%if persona = Persona.find(params[:p])%>
               >> <%=h (persona.nombre_completo)%>
          <%end%>
     <%end%>

      <!-- acciones -->
      <%=case controller.action_name
            when 'new_or_edit'
              " >> NUEVO O EDITAR"
            when "menu"
              " >> MENU"
            when "destroy"
              " >> ELIMINAR"
            when "print"
              " >> IMPRIMIR"
            when "show"
              " >> DETALLE"
            when "roles_index"
                " >>" + raw(link_to ' ROLES', {:controller => 'admin', :action => 'roles_index'}, :class => 'arbol')
            when  "users_index"
                " >>" + raw(link_to ' USUARIOS', {:controller => 'admin', :action => 'users_index'}, :class => 'arbol')
            when "role_new_or_edit"
                " >>"  + raw(link_to ' ROLES', {:controller => 'admin', :action => 'roles_index'}, :class => 'arbol') +
                " >> NUEVO"
            when "users_by_role"
                " >>"  + raw(link_to ' ROLES', {:controller => 'admin', :action => 'roles_index'}, :class => 'arbol') +
                if @role
                  " >> #{@role.name}"
                end
            end
       %>
       
</h3>
