<!--
  #########################################################################
  # ESTE PARTIAL SE ENCARGA DE GENERAR LAS LIGAS EN ESTRUCTURA DE ARBOL                                                       #
  # ########################################################################
-->
<h3>
  <%=h link_to 'INICIO', "/", :class => "arbol", :title => "INICIO"-%> >>
  <%=  case params[:controller]
            when 'home'
                case controller.action_name
                    when 'myaccount'
                      title = 'MI CUENTA'
                      (link_to title.upcase, {:controller => params[:controller], :action => "myaccount"}, :class => "arbol", :title => title.upcase)
                end
            when 'adscripcions'
               title = 'ADSCRIPCIONES'
               (link_to "ADMINISTRACIÓN ", {:controller => "admin", :action => "index"}, :class => "arbol", :title => "Administración") <<
               " >> " + (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)

            when 'defensores', 'jueces'
                title = (params[:controller] == 'defensores')? 'DEFENSORES PÚBLICOS ' : 'JUECES'
                case controller.action_name
                  when 'list_tramites'
                    if @defensor && @defensor.persona
                      (link_to 'TRAMITES', {:controller => 'tramites', :action => "index"}, :class => "arbol", :title => 'tramites') <<
                       " >> " + raw(link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase) <<
                      " >> " + raw(link_to @defensor.persona.nombre_completo.upcase, {:controller => params[:controller], :action => controller.action_name, :id => @defensor }, :class => "arbol", :title => 'TRAMITES DEL DEFENSOR')
                    end
                else
                    if (current_user.has_role?(:admin))
                      (link_to "ADMINISTRACIÓN ", {:controller => "admin", :action => "index"}, :class => "arbol", :title => "Administración") <<
                      " >> " + (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
                    end
                end
             when 'admin'
                title = 'ADMINISTRACIÓN '
                case controller.action_name
                    when 'roles_by_user'
                        raw(link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase) <<
                        ">> " +  raw(link_to ' USUARIOS ', {:controller => 'admin', :action => "users_index"}, :class => "arbol") <<
                        if @user
                          ">> " +  raw(link_to  @user.nombre_completo, {:controller => 'admin', :action => "roles_by_user", :id => @user}, :class => "arbol")
                        end
                else
                      (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
                end

            when 'participantes'
                case controller.action_name
                    when 'index', 'new_or_edit', 'search'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTICIPANTES ', {:controller => 'participantes', :action => "index", :t => @tramite}, :class => "arbol")
                    when 'relationships', 'show'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTICIPANTES ', {:controller => 'participantes', :action => "index", :t => @tramite}, :class => "arbol") << 
                        ">> " +  raw(link_to  @participante.persona.nombre_completo, {:controller => 'participantes', :action => controller.action_name , :id => @participante}, :class => "arbol")
                    when 'history'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTICIPANTES ', {:controller => 'participantes', :action => "index", :t => @tramite}, :class => "arbol")
                end

            when 'partes'
                case controller.action_name
                    when 'index', 'new_or_edit', 'search'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites_nopenales', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites_nopenales', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTES ', {:controller => 'partes', :action => "index", :t => @tramite}, :class => "arbol")
                    when 'relationships', 'show'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites_nopenales', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites_nopenales', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTES ', {:controller => 'partes', :action => "index", :t => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to  @parte.persona.nombre_completo, {:controller => 'participantes', :action => controller.action_name , :id => @parte}, :class => "arbol")
                    when 'history'
                        raw(link_to ' TRAMITES ', {:controller => 'tramites_nopenales', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites_nopenales', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to ' PARTES ', {:controller => 'partes', :action => "index", :t => @tramite}, :class => "arbol")
                end

            when 'amparos', 'sentencias', 'recursos', 'promociones', 'mecanismos_alternativos'
                case controller.action_name
                    when 'index', 'new_or_edit', 'show'
                    title = params[:controller].gsub("_", " ").upcase
                        raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                        ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                        ">> " +  raw(link_to title, {:controller => params[:controller], :action => "index", :t => @tramite}, :class => "arbol")
                end

            when 'estatus'
                 (link_to "ADMINISTRACIÓN ", {:controller => "admin", :action => "index"}, :class => "arbol", :title => "Administración") <<
                  ">> " + raw(link_to params[:controller].upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol")
            when 'agenda'
                title = 'AGENDA DE AUDIENCIAS '
                case controller.action_name
                  when 'daily_show'
                        raw(link_to  title, {:controller => params[:controller], :action => "index"}, :class => "arbol") <<
                        ">> " + (link_to 'DIARIA', {:controller => params[:controller], :action => "index", :day => @fecha.day, :month => @fecha.month, :year => @fecha.year}, :class => "arbol", :title => 'AGENDA DIARIA')
                  else
                       (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
                end

            when 'audiencias_orales'
                title = 'AUDIENCIAS'
                raw(link_to ' TRAMITES ', {:controller => 'tramites', :action => "index"}, :class => "arbol") <<
                ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
                ">> " + (link_to title.upcase, {:controller => params[:controller], :action => "index", :t => @tramite}, :class => "arbol", :title => title.upcase)

            when 'corporacion_policiacas'
                title = 'CORPORACIONES POLICIACAS'
                raw(link_to ' ADMINISTRACION ', {:controller => 'admin', :action => "index"}, :class => "arbol") <<
                ">> " + (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)

             when 'tipo_juicios'
                title = 'TIPOS DE JUICIOS'
                raw(link_to ' ADMINISTRACION ', {:controller => 'admin', :action => "index"}, :class => "arbol") <<
                ">> " + (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)

            when 'audiencias'
                title = 'ORIENTACIONES AL PÚBLICO '
                case controller.action_name
                when 'history_by_person'
                  (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase) <<
                   ">> " + (link_to 'HISTORICO', {:controller => params[:controller], :action => controller.action_name}, :class => "arbol", :title => title.upcase)
                else
                  (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
                end
                

            when 'users'
                case controller.action_name
                  when 'edit'
                    if @user && @user.persona
                      (link_to 'MI CUENTA', {:controller => 'home', :action => "myaccount"}, :class => "arbol", :title => 'MI CUENTA') <<
                      " >> " + (link_to @user.persona.nombre_completo, {:controller => "users", :action => "edit", :id => current_user}, :class => "arbol")
                    end
                else
                   title = 'USUARIOS '
                  (link_to title.upcase, {:controller => "admin", :action => "users_index"}, :class => "arbol", :title => title.upcase)
                end

            when 'etapas'
              title = 'ETAPAS DEL TRÁMITE'
              (link_to 'TRAMITES', {:controller => "tramites", :action => "index"}, :class => "arbol", :title => title.upcase) <<
              " >> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol") <<
              " >> " + (link_to title.upcase, {:controller => "etapas", :action => "index", :id => @tramite}, :class => "arbol", :title => title.upcase)

            when 'tramites', 'tramites_nopenales'
                title = 'TRAMITES'
                raw(link_to ' TRAMITES ', {:controller => params[:controller], :action => "index"}, :class => "arbol") <<
                case controller.action_name
                  when 'menu', 'options_concluir', "new_or_edit"
                    ""
                else
                  ">> " +  raw(link_to ' MENU ', {:controller => 'tramites', :action => "menu", :id => @tramite}, :class => "arbol")
                end
            when 'personas'
                title = 'PERSONAS'
                (link_to title.upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => title.upcase)
             else
                (link_to params[:controller].upcase, {:controller => params[:controller], :action => "index"}, :class => "arbol", :title => params[:controller])
          end
    %>

   <!-- Si lleva parametro de persona -->
    <%if (params[:p] && params[:p].size == 36) || (params[:id] && params[:id].size == 36)%>
         <%identificador = params[:p] || params[:id]%>
         <%if persona = Persona.find(identificador)%>
               >> <%=h (persona.nombre_completo).upcase%>
          <%end%>
     <%end%>

      <!-- acciones -->
      <%=case controller.action_name
            when 'new_or_edit'
              " >> " + raw(link_to 'NUEVO O EDITAR', {:action => "new_or_edit"}, :class => "arbol")
            when "menu"
              " >> MENU"
            when "destroy"
              " >> ELIMINAR"
            when "history"
              " >> HISTÓRICO"
            when "atenciones"
              " >> ATENCIONES"
            when "print"
              " >> IMPRIMIR"
            when "show"
              " >> DETALLE"
            when 'options_concluir'
              ">> OPCIONES DE CONCLUSION"
            when "roles_index"
                " >>" + raw(link_to ' ROLES', {:controller => 'admin', :action => 'roles_index'}, :class => 'arbol')
            when  "users_index"
                " >>" + raw(link_to ' USUARIOS', {:controller => 'admin', :action => 'users_index'}, :class => 'arbol')
            when "role_new_or_edit"
                " >>"  + raw(link_to ' ROLES', {:controller => 'admin', :action => 'roles_index'}, :class => 'arbol') +
                " >> NUEVO"
            when "users_by_role"
                " >>"  + raw(link_to ' ROLES', {:controller => 'admin', :action => 'roles_index'}, :class => 'arbol') +
                if @role
                  ">> " +  raw(link_to  @role.descripcion, {:controller => 'admin', :action => "users_by_role", :id => @role}, :class => "arbol")
                end
            when "users_by_adscripcion"
                " >>"  + raw(link_to ' ADSCRIPCIONES', {:controller => 'adscripcions', :action => 'index'}, :class => 'arbol') +
                if @adscripcion
                  ">> " +  raw(link_to  @adscripcion.descripcion, {:controller => 'admin', :action => "users_by_adscripcion", :id => @adscripcion}, :class => "arbol")
                end


            end
       %>
       
</h3>
