<!-- Archivo adjunto -->
<div class="grid-12-12">
          <div class="grid-form">
            <label>Archivo adjunto: </label>
            <%= file_field :adjunto, :inputfile %>
          </div>
</div>