<!-- Menu de administrador -->
<div class="formee  container">
  <fieldset>
    <legend>&nbsp;MENU&nbsp;PRINCIPAL&nbsp;</legend>
      <div class="grid-3-12">
          <%=link_to "AUDIENCIAS", {:controller => "audiencias", :action => "index"}, :class => "boton"%>
      </div>
      <div class="grid-3-12">
          <%=link_to "TRAMITES", {:controller => "tramites", :action => "index"}, :class => "boton"%>
      </div>
      <div class="grid-12-12 clear"></div>
  </fieldset>
</div>