<h1>Bienvenidos  la Aplicación de defensoría pública</h1> | <%=link_to 'Cerrar sesión', :controller => "sessions", :action => "destroy"%>

<br />
<p><%=link_to 'personas', :controller => "personas"%></p>
