/********************************************************************

Project: Formee - http://www.formeeee.org
Last Updated: 
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br
			 
********************************************************************
Style
********************************************************************/

.formee fieldset {
/*	background:#fff;*/
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 12px;
        line-height: 2em;
        background:#7f7f7f;
        background:rgba(255,255,255,0.8);
       
}

/* hover effect */
.grid-1-12:hover, .grid-2-12:hover, .grid-3-12:hover, .grid-4-12:hover, .grid-5-12:hover, .grid-6-12:hover, .grid-7-12:hover, .grid-8-12:hover, .grid-9-12:hover, .grid-10-12:hover, .grid-11-12:hover, .grid-12-12:hover {}
.field-button:hover {background:transparent;}


/* Form legend and titles */

.formee {
    /*font: normal 10px/1.1em Arial,Sans-Serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.6em;
}
.formee legend, .formee h3 {
	font-family: 'Open Sans', arial;
        -webkit-font-smoothing: antialiased;
        color: #555;
        font-size: 22px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 20px;
}

.formee h4 {
	font-size:1.5em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
}

.formee h5 {
	font-size:1.4em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color:#2b2b2b;
	font-weight: normal;
      font-weight: bold;
}
/* form elements  */
.formee-lbl, .formee label {
	color: #505050;
	font-size:1.6em;
	line-height: 1.3em;
	vertical-align:middle;
        font-weight: bold;
}
.formee label.uper {
      color:#2b2b2b;
	font-size:1.2em;
      text-transform: uppercase;
}
.formee-lbl-vinetas {
	color:#2b2b2b;
	font-size:1em;
	line-height: 1.2em;
	vertical-align:middle;
}
.formee-req {
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	font-size:1.2em;
	line-height: .85em;
}
.formee .formee-txt, .formee input[type="text"], .formee input[type="password"], .formee input[type="file"], .formee textarea, .formee select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	font-size:1.5em;
	font-family:inherit;
/*      width: 100%;
      height:100%;*/
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
      text-transform: uppercase;
}
.formee input[type="text"].rpt, .formee textarea.rpt, .formee fieldset.rpt {
/*	border-color:#c6c6c6 #dadada #eaeaea;*/
	border-color:#acacac;
	background: #f2f2f2;
	color: #2e2e2e;
	font-size:1.2em;
	font-family:inherit;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
      text-transform: uppercase;
}
.formee select.rpt {
/*	border-color:#c6c6c6 #dadada #eaeaea;*/
	border-color:#acacac;
	background: #f2f2f2;
	color: #2e2e2e;
/*	font-size:12px;*/
	font-family:inherit;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
      text-transform: uppercase;
}
.formee .formee-txt:hover, .formee input[type="text"]:hover, .formee input[type="password"]:hover, .formee input[type="file"]:hover, .formee textarea:hover, .formee select:hover {
	color:#666;
	background: #fff none;
	border-color:#c6c6c6;
}
.formee select:disabled {
	color: #fff;
	background: #fff none;
	border-color:#c6c6c6;
}
form .formee-txt:focus, .formee input[type="text"]:focus, .formee input[type="password"]:focus, .formee input[type="file"]:focus, .formee textarea:focus, .formee select:focus  {
	color:#333;
	background: #fff none;
	border-color:#659ec9 #70aedd #a8cfec;
	outline: 0;
}

/* form msg status  */
.formee-msg-info, .formee-msg-warning, .formee-msg-error, .formee-msg-success, .formee-msg-suggest,  .formee-msg-description {
	/*color:#2b2b2b;*/
        color: black;
	/*corner*/
	-moz-border-radius: 16px 4px 16px 4px;
	-webkit-border-radius: 16px 4px 16px 4px;
	border-radius: 16px 4px 16px 4px;
        font-family: 'Open Sans', arial;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        margin-top: 12px;
        margin-bottom: 12px;
	color: #444;
        font-size: 15px;


}
.formee-msg-suggest {
	color: black;
        font-size:1.1em;
        padding: 0 1em 0 1em;
	/*corner*/
	-moz-border-radius: 16px 4px 16px 4px;
	-webkit-border-radius: 16px 4px 16px 4px;
	border-radius: 16px 4px 16px 4px;
}
.formee-msg-info h3, .formee-msg-warning h3, .formee-msg-error h3, .formee-msg-success h3,  .formee-msg-description h3 {
	font-size:0.95em;
	line-height:1.5em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 -1em 0;
        font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.formee-msg-info {
/*	background: #d1ecf7 url(/images/formee/form-ic-info.png) no-repeat 12px 23px;*/
      background: #d1ecf7 url(/images/formee/form-ic-info.png) no-repeat 12px 7px;
	border-color:#bcdfef;
}
.formee-msg-warning {
/*	background: #fff6bf url(/images/formee/form-ic-warning.png) no-repeat 12px 23px;*/
      background: #fff6bf url(/images/formee/form-ic-warning.png) no-repeat 12px 7px;
	border-color:#fceb77;
}
.formee-msg-error {
/*	background: #fad0d0 url(/images/formee/form-ic-error.png) no-repeat 12px 23px;*/
      background: #fad0d0 url(/images/formee/form-ic-error.png) no-repeat 12px 7px;
	border-color:#f6abab;
}
.formee-msg-success {
/*	background: #e5f8ce url(/images/formee/form-ic-success.png) no-repeat 12px 23px;*/
      background: #e5f8ce url(/images/formee/form-ic-success.png) no-repeat 12px 7px;
	border-color:#d0f1a6;
}
.formee-msg-suggest {
/*	background: #d1ecf7 url(/images/formee/form-ic-info.png) no-repeat 12px 23px;*/
/*      background: #d1ecf7 url(/images/formee/form-ic-info.png) no-repeat 12px 7px;*/
        background: orange;
	border-color: orangered;
}

.formee-msg-description {
    background: #e5f8ce url(/images/formee/form-ic-error.png) no-repeat 12px 7px;
    border-color:#afbec5;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.formee-msg-success strong, .formee-msg-success a{color:#62b548;}
.formee-msg-info strong, .formee-msg-info a {color:#11689e;}
.formee-msg-warning strong, .formee-msg-warning a {color:#957210;}
.formee-msg-error strong, .formee-msg-error a {color:#b01717;}
.formee-msg-description strong, .formee-msg-description a {color:#008000;}

/* form validation */
.formee-error {
	border-color: #FAD0D0 !important;
	color: #b01717 !important;
  /* shadow */
  -moz-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  -webkit-box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
  box-shadow: 0 0 3px 0 rgba(176,23,23,.4);
}

/* form buttons */
.formee-button, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
 font-size: 1.4em;
  line-height: 1.4em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -.015em;
  color: #fff;
  border-color: #3a77a4;
  background: #5393c2;
  background: -moz-linear-gradient(top, #5393c2 40%, #3a77a4);
  background: -webkit-linear-gradient(top, #5393c2 40%, #3a77a4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5393c2', endColorstr='#3a77a4');
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
}

.formee-button:hover, .formee input[type="submit"]:hover, .formee input[type="button"]:hover, .formee input[type="reset"]:hover {
  background:#70aedd;
  /* gradient */
  background: -moz-linear-gradient(top, #70aedd 40%, #69a4d0);
  background: -webkit-linear-gradient(top, #70aedd 40%, #69a4d0);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#70aedd', endColorstr='#69a4d0');
  /* shadow */
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255,255,255,.4);
  box-shadow:  0 1px 1px 0 rgba(0,0,0,.2), inset 0 1px 0 0 rgba(255,255,255,.4);
}

.tdiagnostico label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
/*    display: block;*/
    height: auto;
    margin: 0.1em 0 0.1em;
}

.tdiagnostico h3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

table.principal{
  background-color: #fafafa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
table.principal h4{
  color: #FFFFFF;
  font-weight:bold;
}

table.subprincipal{
/*table.subprincipal{*/
   background-color: #E6F8E0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 6px;
}

table.diagnostico{
/*table.subprincipal{*/
  background-color: #E6F8E0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 6px;
}

table.diagnostico tr, table.diagnostico td{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    height: auto;
    margin: 0.1em 0 0.1em;
}

table.subreport {
/*  background-color: #E6F8E0;*/
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

table.subprincipal h5{
    color: black;
    font-weight:bold;
}

/* Botones */

.buttonText{
  font: 18px/1.5 Helvetica, Arial, sans-serif;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a.notchange{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#button4 {
  background: #62b548 url('/images/formee/form-ic-success.png') no-repeat 12px 12px;
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  text-transform:uppercase;
  height: 38px;
  width: 210px;
  margin: 0px 0 0 20px;
  overflow: hidden;
  display: block;
  text-align: right;
/*  text-transform: inherit;*/
  font-weight: normal;
  border-color: #62b548;

  -webkit-box-shadow: 0px 6px 0px rgba(0, 90, 0, 0.8);
  -moz-box-shadow:    0px 6px 0px rgba(0, 90, 0, 0.8);
  box-shadow:         0px 6px 0px rgba(0, 90, 0, 0.8);

  /*Gradient*/
/*  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
/*  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#siguiente{
  background: #62b548;
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  height: 38px;
  width: 190px;
  margin: 0px 0 0 10px;
  overflow: hidden;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  border-color: #62b548;

  -webkit-box-shadow: 0px 6px 0px rgba(0, 90, 0, 0.8);
  -moz-box-shadow:    0px 6px 0px rgba(0, 90, 0, 0.8);
  box-shadow:         0px 6px 0px rgba(0, 90, 0, 0.8);

  /*Gradient*/
/*  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
/*  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#buttonc {
  background: orangered; /* #5c5c5c;*/
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  text-transform:uppercase;
  height: 38px;
  width: 220px;
  margin: 0px 0 0 20px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 45px;

/*  Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /*Shadow*/
  -webkit-box-shadow: 0px 6px 0px rgba(80, 0, 0, 0.8);
  -moz-box-shadow:    0px 6px 0px rgba(80, 0, 0, 0.8);
  box-shadow:         0px 6px 0px rgba(80, 0, 0, 0.8);

  /*Gradient*/
/*  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#cancelar_sig {
  background: orangered; /* #5c5c5c;*/
  color: white;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  text-transform: uppercase;
  height: 38px;
  width: 180px;
  margin: 0px 0 0 20px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 45px;

/*  Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /*Shadow*/
  -webkit-box-shadow: 0px 6px 0px rgba(80, 0, 0, 0.8);
  -moz-box-shadow:    0px 6px 0px rgba(80, 0, 0, 0.8);
  box-shadow:         0px 6px 0px rgba(80, 0, 0, 0.8);

  /*Gradient*/
/*  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));*/
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}


#button4:hover{
  margin-top: 3px;
  text-decoration: none;

  -webkit-box-shadow: 0px 3px 0px rgba(0, 110, 0, 0.8);
  -moz-box-shadow:    0px 3px 0px rgba(0, 110, 0, 0.8);
  box-shadow:         0px 3px 0px rgba(0, 110, 0, 0.8);

  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#siguiente:hover{
  margin-top: 3px;
  text-decoration: none;

  -webkit-box-shadow: 0px 3px 0px rgba(0, 110, 0, 0.8);
  -moz-box-shadow:    0px 3px 0px rgba(0, 110, 0, 0.8);
  box-shadow:         0px 3px 0px rgba(0, 110, 0, 0.8);

  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#buttonc:hover{
  margin-top: 3px;
  text-decoration: none;

  -webkit-box-shadow: 0px 3px 0px rgba(150, 0, 0, 0.8);
  -moz-box-shadow:    0px 3px 0px rgba(150, 0, 0, 0.8);
  box-shadow:         0px 3px 0px rgba(150, 0, 0, 0.8);

  /*Gradient*/
/*  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));*/
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#cancelar_sig:hover{
  margin-top: 3px;
  text-decoration: none;

  -webkit-box-shadow: 0px 3px 0px rgba(150, 0, 0, 0.8);
  -moz-box-shadow:    0px 3px 0px rgba(150, 0, 0, 0.8);
  box-shadow:         0px 3px 0px rgba(150, 0, 0, 0.8);

  /*Gradient*/
/*  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));*/
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

#button5 {
  color:  #387031;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF;
/*  font-weight: bold;*/
  font-size: 12px;
  text-transform: uppercase;
  height: auto;
  width: 260px;
  margin: 0px 0 0 20px;
  overflow: hidden;
  display: block;
  text-align: center;
/*  line-height: 45px;*/

  /*Rounded Corners*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /*Shadow*/
  -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.6);

  /*Gradient*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

#button5:hover {
  color: green;
  text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF;
  margin-top: 3px;
  text-decoration: none;

  /*Shadow*/
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);

  /*Gradient*/
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

@media print {
    body { background-color: #FFF; }
  #container {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    #line_items {
        page-break-before: always;
    }
    #pdf_link {
        display: none;
    }  
}

p a, p a:hover{
  color: green;
  font-weight: bold;
  text-decoration: none;
}


.reporte  {font: normal 10px/1.1em Arial,Sans-Serif;}
.reporte label {
    color:#2b2b2b;
    font-size:1.4em;
    line-height: 1.3em;
    vertical-align:middle;
}
.reporte h1 {
	font-size:1.8em;
	line-height:1.2em;
	letter-spacing: 0.8em;
	color: #FFFFFF;
	font-weight: bold;
        margin:0.6em 0.5% .6%;
	padding: 0.5% 0.5% 0.8%;
}
.reporte label.titulo {
    color:#2b2b2b;
    font-size:1.4em;
    line-height: 1.3em;
    vertical-align:middle;
    font-weight: bold;
    display: block;
}
.reporte label.subtitulo {
    color:#2b2b2b;
    font-size:1.3em;
    line-height: 1.3em;
    vertical-align:middle;
    font-weight: bold;
    display: block;
}
.reporte label.descripcion {
    color:#2b2b2b;
    font-size:1.3em;
    line-height: 1.3em;
    vertical-align:middle;
    font-weight: normal;
    display: block;
}
.reporte fieldset {
      border: 1px solid #d4d4d4;
      position: relative;
      height:100%;
      padding: 1.2em 0;
      margin: 0 0 1.5em;

	background: honeydew;
	/*corner*/
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/*.reporte fieldset.subfieldset {
      border: 1px solid #d4d4d4;
	position: relative;
	height:100%;
	padding: 1.2em 0;
	margin: 0 0.5em 1.5em;

	background: honeydew;
	corner
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}*/
.reporte legend{
	font-size:1.3em;
	line-height:1.2em;
	letter-spacing: -.035em;
	color: #2b2b2b;
	font-weight: bold;
}
/*.reporte legend.sublegend{
	font-size:1.3em;
	line-height:1.2em;
	letter-spacing: 0.1em;
	color:#2b2b2b;
	font-weight: bold;
}*/
hr {
    border: 0;
    border-bottom: 1px dashed #ccc; 
    background: #999;
} 
