<%=render :partial => "home/arbol"%>

<%if @persona%>
  <div class="formee container">
    <fieldset>
        <legend>DATOS&nbsp;PERSONALES</legend>
        <%=render :partial => "home/datos_personales"%>
    </fieldset>
  </div>
<%end%>


<%= link_to 'Editar', edit_persona_path(@persona), :class => "boton" %> |
<%= link_to 'Atras', persona_path, :class => "boton" %>






