
<!-- Aqui vas a poner el combo select -->
<div class="grid-6-12">
        <div class="grid-6-12">
          <label><b>DEFENSOR PUBLICO: </b><em class="formee-req">*</em></label>
        </div>
        <div class="grid-6-12">
          <%= select(:audiencia, :defensor_id, @defensores.collect {|p| [ p.inspect, p.id ] }, { :include_blank => true })%>
        </div>
 </div>