<!doctype html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Poder Judicial del Estado de Chiapas</title>
<style type="text/css">
  body {
	margin-top: 2px;
  }
</style>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr><th align="center">CONSEJO DE LA JUDICATURA</th></tr>
   <tr><th align="center">INSTITUTO DE LA DEFENSORÍA PÚBLICA</th></tr>
   <tr><th align="center">SISTEMA DE GESTIÓN DE AUDIENCIAS</th></tr>
  <tr align="center" >
    <td>
      <%=yield%>
    </td>
  </tr>
</table>
</body>
</html>